#delete-expense-modal.modal
	h5 Supprimer
	div Supprimer la dépense TODO ?
	nav.right-align
		button.border(type="button", data-ui="#delete-expense-modal") Annuler
		button(type="button", data-ui="#delete-expense-modal") Confirmer
