doctype html
html
	head
		title Pelit
		meta(charset="utf-8")
		meta(name="description", content="Pelit application")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="icon", href="favicon.ico")
	body
		block content
